@media screen and (max-width:990px) {
    .row {
        --bs-gutter-y: 25px;
    }

    .navbar-nav {
        gap: 10px !important;
        margin-top: 30px;
        align-items: center;
    }

    footer .social-icons ul {
        gap: 5px !important;
    }

    footer ul li {
        width: 50%;
        text-align: center;
    }

    footer .row {
        flex-direction: column;
        align-content: center
    }

    footer p {
        text-align: center;
    }
}

@media screen and (max-width:400px) {
    .form-control {
        font-size: 14px;
        margin-bottom: 5px !important;
        text-align: center;
    }

    .btn {
        width: 100%;
        position: static !important;
    }
}